.section1 div[row] span[column='6']:nth-child(2) .yellow,
.section1 div[row]:nth-of-type(3) span[column='12'] form input[type='submit'],
.section4 div[column='6 +1'] a.button,
.section6 .modal-footer a.button,
.section7 button,
.section10 form input[type='submit'],
.section13 input[type='submit'] {
  background-color: #ffd619;
  border-radius: 6px;
  color: #222;
}
.section1 div[row] span[column='6']:nth-child(2) .yellow:hover {
  background-color: #ffad00;
}
.section1 div[row]:nth-of-type(3) span[column='12'] form input[type='submit'],
.section13 input[type='submit'] {
  color: #111;
}
.section1 div[row]:nth-of-type(3) span[column='12'] form input[type='submit']:hover {
  background-color: #ffad00;
}
@media only screen and (min-width: 1440px) {
  /* styles for browsers larger than 1440px; */
  .section2 {
    margin-top: 100px;
  }
}
.section2 h1,
.section3 h2,
.section4 h2,
.section5 h2,
.section6 h2,
.section7 h2[column='12'],
.section8 h2,
.section9 h2,
.section10 h2,
.section11 h2 {
  text-transform: uppercase;
  color: #333;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 3em;
}
@media only screen and (max-width: 740px) and (min-width: 330px) {
  .section2 div[column='3'] {
    width: 50%;
  }
}
.section2 div[column='3']
{
  text-align: center;
}
.section2 div[column='3'] span[class*=icon] {
  width: 140px;
  height: 140px;
  display: inline-block;
  vertical-align: top;
  border-radius: 10px;
  background: url('../img/icon-white-on-green-140.jpg') no-repeat;
}
.section2 div[column='3'] span.icon1 {
  background-position: 0 0;
}
.section2 div[column='3'] span.icon2 {
  background-position: -145px 0;
}
.section2 div[column='3'] span.icon3 {
  background-position: -290px -145px;
}
.section2 div[column='3'] span.icon4 {
  background-position: -290px 0;
}
.section2 div[column='3'] h4 {
  text-align: center;
}
/*section3*/
.wrap3 {
  background-color: #ccc;
}
.section3 iframe {
  width: 100%;
  height: 400px;
}
.section3 span[column='6'] {
  margin-bottom: 1em;
}
.section3 span[column='6'] iframe {
  border-radius: 20px;
}
/*.section4*/
.section4 h3 {
  color: #fff;
  text-align: center;
  padding-left: 1em;
}
.section4 h2 {
  color: #fff;
  padding-top: 1em;
  margin-top: 0;
}
.section4 div[column='6 +1'] {
  position: relative;
}
.section4 div[column='6 +1'] div[row] {
  margin-right: 0px;
  margin-left: 0px;
  background-color: #fff;
}
.section4 div[column='6 +1'] div[row] div[column='12'] h3 {
  color: #444;
}
.section4 div[column='6 +1'] div[row]:nth-of-type(3) {
  padding: 15px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 0px 1px 2px #6d6868;
}
.section4 div[column='6 +1'] a.button:hover {
  background-color: #ffad00;
}
.section4 div[column='6 +1'] .oldp,
.section4 div[column='6 +1'] .newp {
  font-weight: bold;
}
.section4 div[column='6 +1'] .oldp {
  text-decoration: line-through;
}
.section4 div[column='6 +1'] .newp {
  color: #f3164a;
}
.section4 .thumbs img {
  margin: 0.35em;
}
.section4 .active {
  outline: 1px solid #fff;
}
.section4 .off {
  position: absolute;
  top: 2em;
  right: 0.95em;
  /*float:right;*/
  color: #fff;
  width: 200px;
}
@media only screen and (max-width: 768px) and (min-width: 480px)
{
  .section4 div[column='4']
  {
    width:33%;
  }
} 

.section4 .off p {
  padding-left: 1em;
}
.section4 .off .white {
  background-color: #444;
  border-radius: 6px 0 0 6px;
}
.section4 .off .white p:nth-child(2) {
  text-decoration: line-through;
  font-size: 0.9em;
}
.section4 .off .white p:nth-child(1) {
  font-size: 1.3em;
  margin-bottom: 0;
}
.section4 .off .red {
  background-color: #f3164a;
  height: 55px;
  border-radius: 6px 0 0 6px;
}
.section4 .off .red p:nth-child(1) {
  float: left;
}
.section4 .off .red .like {
  background: url('../img/ui-sprite.png') no-repeat;
  display: inline-block;
  width: 35px;
  height: 41px;
  background-position: -160px -140px;
  float: right;
  margin: 0.4em;
}
.section4 .green-features {
  margin-left: 0px;
  margin-right: 0px;
}
body > div.wrap4.lazyloaded > div > div > div:nth-child(5)

{
  margin-bottom: 1em;
}

.section4 .green-features .green-icon {
  background: url('../img/icon-green-on-white-90.jpg') no-repeat;
  display: inline-block;
  width: 90px;
  height: 90px;
  vertical-align: top;
  float: left;
}
.section4 .green-features p {
  padding-top: 2em;
}
.section4 .green-features .icon2 {
  background-position: -95px 0;
}
.section4 .green-features .icon3 {
  background-position: -190px 0;
}
.section4 .green-features .icon4 {
  background-position: -285px 0;
}
.section4 .green-features div[column='6'] {
  height: 92px;
  background-color: #fff;
  border: 1px solid #7fbc3a;
  margin-right: 0px;
  margin-left: 0px;
}
/*section5*/
.section5 h3[grey] {
  color: #ccc;
  text-align: center;
}
.section5 p.desc img {
  vertical-align: middle;
}
@media only screen and (max-width: 768px) {
  .section5 div[column='3'] img {
    display: block;
    margin: 0 auto;
  }
}
/*section6*/
.section6 h2 {
  color: #fff;
}
.section6 select {
  background-color: #fff;
}
@media only screen and (min-width: 560px) {
  .section6 select {
    display: none;
  }
}
.section6 div.buttonRow {
  margin-bottom: 2em;
}
@media only screen and (max-width: 560px) {
  .section6 div.buttonRow {
    display: none;
  }
}
.section6 div.buttonRow a.button {
  background-color: #fff;
  color: #333;
  border-radius: 6px;
}
.section6 div.buttonRow a.button:hover {
  background-color: #ffe675;
}
@media only screen and (max-width: 890px) {
  .section6 div.buttonRow a.button {
    line-height: 27px;
    padding: 0.2em;
  }
}
.section6 div.buttonRow a.button.active {
  background-color: #ffd619;
}
@media only screen and (max-width: 890px) {
  .section6 div.buttonRow div[column='3'] {
    float: left;
    width: 25%;
  }
}
.section6 .houses a.button {
  display: block;
  margin: 0 auto;
  width: 200px;
  border-radius: 6px;
  background-color: #6daf2e;
  color: white;
}
.section6 .houses a.button:hover {
  background-color: #5e9728;
}
@media only screen and (max-width: 768px) {
  .section6 .houses div[column='4'] {
    width: 50%;
  }
}
@media only screen and (max-width: 580px) {
  .section6 .houses div[column='4'] {
    width: 100%;
  }
}
.section6 .houses .inner {
  width: 300px;
  display: block;
  margin: 0 auto;
  position: relative;
}
@media only screen and (max-width: 940px) {
  .section6 .houses .inner {
    width: 100%;
  }
}
.section6 .houses .inner:hover {
  cursor: pointer;
}
@media only screen and (max-width: 940px) {
  .section6 .houses .inner img {
    width: 100%;
  }
}
.section6 .houses .inner div[row] {
  padding: 1em;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 0px 1px 2px #6d6868;
  margin-left: 0;
  margin-right: 0;
  background-color: #fff;
  margin-bottom: 1em;
}
.section6 .houses .inner div[row]:hover {
  background-color: #ffd619;
}
.section6 .houses .inner div[row] p[column='12']:nth-of-type(1) {
  text-align: center;
  font-weight: bold;
}
.section6 .houses .inner .hit {
  position: absolute;
  top: 0;
  left: 0;
}
.section6 .houses .inner .ui-sprite.hit {
  width: 60px;
  height: 60px;
  background-position: -90px -140px;
}
.section6 .houses .inner .ui-sprite {
  background: url('../img/ui-sprite.png') no-repeat;
  display: inline-block;
}
.section6 .houses .inner .like,
.section6 .modal-container .card-like .like {
  position: absolute;
  top: 20px;
  right: 0;
  padding: 8px;
  background-color: #f3164a;
  border-radius: 3px 0 0 3px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  font-style: italic;
  width: 129px;
  height:66px;
}
.section6 .houses .inner .like span {
  font-size: 13px;
}
.section6 .houses .inner .ui-sprite.like-min {
  width: 18px;
  height: 20px;
  background-position: -210px -140px;
}
.section6 .houses .inner .pull-right,
.section6 .modal-container .card-like .pull-right {
  float: right!important;
}
.section6 .houses .inner .red {
  color: #f3164a;
}
.section6 .houses .inner .remove {
  text-decoration: line-through;
}
.section6 .modal {
  z-index: 1300;
}
.section6 .modal-container {
  width: 890px;
}
@media only screen and (max-width: 890px) {
  .section6 .modal-container {
    width: 97%;
  }
}
.section6 .modal-container .card-like {
  position: absolute;
  top: 48px;
  right: 0;
  border-radius: 0 0 0 8px;
  padding: 5px 15px;
  background-color: #f3164a;
  background-color: rgba(243, 22, 74, 0.87);
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  width: 178px;
}
.section6 .modal-container .card-like .like {
  top: 11px;
  right: 6px;
}
.section6 .modal-container .card-like .ui-sprite.like {
  width: 35px;
  height: 41px;
  background-position: -160px -140px;
}
.section6 .modal-container .card-like .ui-sprite {
  background: url('../img/ui-sprite.png') no-repeat;
  display: inline-block;
}
.section6 .modal-body {
  padding: 0px;
}
.section6 .modal-body img[data-src*='t1-001'] {
  width: 100%;
}
@media only screen and (max-width: 890px) {
  .section6 .modal-body img[data-src*='t1-001'] {
    width: 100%;
  }
}
.section6 .modal-body .thumbs a.button {
  line-height: 110%;
  padding: 0.5em;
  background-color: #6daf2e;
  border-radius: 6px;
}
.section6 .modal-body .thumbs a.active {
  background-color: #ffd619;
}
.section6 .modal-body .thumbs .buttongroup {
  padding: 1em;
}
@media only screen and (max-width: 890px) {
  .section6 .modal-body .thumbs .buttongroup span[column='4'] {
    float: left;
    width: 33%;
  }
}
.section6 .modal-body .thumbs img {
  padding: 2px;
  opacity: 0.4;
  border-radius: 6px;
}
.section6 .modal-body .thumbs img:hover {
  cursor: pointer;
  opacity: 1;
}
.section6 .modal-body .thumbs img.active {
  opacity: 1;
  outline: 1px solid #ccc;
}
.section6 .modal-body .chars p:first-of-type {
  font-weight: bold;
  text-align: center;
  margin: 1em;
}
.section6 .modal-body .chars span {
  font-size: 1.8em;
  padding-left: 1em;
}
.section6 .modal-body .chars span:nth-of-type(1) {
  text-decoration: line-through;
}
.section6 .modal-body .chars span:nth-of-type(2) {
  color: #f3164a;
}
.section6 .modal-body .chars ul li {
  font-size: small;
  list-style-type: none;
}
.section6 .modal-body .greyrow {
  background-color: #eee;
  margin-left: 0;
  margin-right: 0;
}
@media only screen and (min-width: 400px) and (max-width: 768px) {
  .section6 .modal-body .greyrow span[column='2'] {
    width: 50%;
  }
}
.section6 .modal-body .greyrow span[column='2'] span:first-of-type {
  font-size: small;
}
.section6 .modal-body .greyrow span[column='2'] span:nth-of-type(2) {
  font-weight: bold;
}
.section6 .modal-footer {
  padding: 0;
}
.section6 .modal-footer a.button {
  width: 90%;
  margin: 1em;
  font-weight: bold;
}
.section6 .modal-footer a.button:hover {
  background-color: #ffad00;
}
.section6 #mh1 form,
.section6 #mh2 form {
  padding: 2em;
}
/**section7**/
.section7 h2[column='12'] {
  color: #777;
}
.section7 .text {
  font-style: italic;
}
.section7 p[grey] {
  color: grey;
}
.section7 button:hover {
  background-color: #ffad00;
}
.section7 .hidden {
  display: none;
}
/*section8*/
.section8 h2 {
  color: #fff;
}
.section8 h3 {
  text-align: center;
  color: #fff;
}
.section8 span.icon {
  background: url('../img/icon-black-on-white-180.jpg') no-repeat;
  display: block;
  width: 180px;
  height: 180px;
  vertical-align: top;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}
.section8 span.icon2 {
  background-position: -185px 0;
}
.section8 span.icon3 {
  background-position: -370px 0;
}
.section8 span.icon4 {
  background-position: -185px -185px;
}
.section8 span.icon5 {
  background-position: -370px -185px;
}
.section8 span.icon6 {
  background-position: 0 -185px;
}
.section8 p {
  font-size: 1.5em;
  text-align: center;
}
.section8 .num {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  padding-top: 5px;
  background-color: #ffd619;
  border-radius: 50%;
  font-family: CodeProBold;
  font-size: 25px;
  text-align: center;
}
/*section9*/
.section9 h2 {
  color: #111;
}
.section9 p {
  text-align: center;
}
.section9 a[href='#close'] {
  color: #fff;
  opacity: 1;
  font-size: 2em;
}
.section9 #s1,
.section9 #s2 {
  z-index: 1300;
}
/*section10*/
.section10 h2 {
  color: #fff;
}
.section10 h3 {
  text-align: center;
  color: #ffd619;
}
.section10 h4 {
  font-style: italic;
  color: #fff;
  text-align: center;
}
@media only screen and (min-width: 400px) and (max-width: 768px) {
  .section10 div[column='+4 4'] {
    width: 50%;
    margin-left: 25%;
  }
}
.section10 form input[type='submit'] {
  display: block;
  margin: 0 auto;
}
.section10 form input[type='submit']:hover {
  background-color: #ffad00;
}
/*section11*/
.section11 h2 {
  color: #333;
}
.section11 div[column='3'] span.icon {
  background: url('../img/icon-green-on-white-90.jpg') no-repeat;
  display: inline-block;
  width: 90px;
  height: 90px;
  vertical-align: top;
  float: right;
}
@media only screen and (max-width: 768px)
{
  .section11 div[column='3']
  {
    text-align: center;
  }
  .section11 div[column='3'] span.icon
  {
    float:none;
  }
}
.section11 .icon11-1 {
  background-position: 0 -95px !important;
}
.section11 .icon11-2 {
  background-position: -95px -95px !important;
}
.section11 .icon11-3 {
  background-position: -190px -95px !important;
}
.section11 .icon11-4 {
  background-position: -285px -95px !important;
}
.section11 .icon11-5 {
  background-position: -380px -95px !important;
}
/*section12*/
/*section13*/
.section13 div[column='9'] p {
  text-align: center;
  margin: 0;
}
@media only screen and (max-width: 480px)
{
  .section13 div[column='3'] 
  {
    text-align: center;
  }
  .section13 #footerform {
text-align:center;
  }
}

.section13 #footerform {
  margin: 6%;
}
.section13 input[type='submit']:hover {
  background-color: #ffad00;
}
.section13 .copy {
  font-style: italic;
  text-align: center;
}
